[submodule "git/haxe-binary"]
	path = git/haxe-binary
	url = https://github.com/ceramic-engine/haxe-binary.git
[submodule "git/hxcpp"]
	path = git/hxcpp
	url = https://github.com/ceramic-engine/hxcpp.git
[submodule "git/hxcs"]
	path = git/hxcs
	url = https://github.com/HaxeFoundation/hxcs.git
[submodule "git/hscript"]
	path = git/hscript
	url = https://github.com/jeremyfa/hscript.git
[submodule "git/yaml"]
	path = git/yaml
	url = https://github.com/jeremyfa/yaml.git
[submodule "git/hxjava"]
	path = git/hxjava
	url = https://github.com/HaxeFoundation/hxjava.git
[submodule "godot/extern/godot-cpp"]
	path = godot/extern/godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
