.sconsign.dblite
bin/
build/

# Generated GDScript runtime (built by: node ./setup --gdscript)
/gdscript/internal/

# Godot test project artifacts
/test/gdscript/.godot/
/test/gdscript/internal/
/test/gdscript/addons/
# Lifetime test project (addons are assembled by run.sh)
/test/lifetime/.godot/
/test/lifetime/addons/
*.uid
